In [1]:
import sqlite3

# データベースに接続
filepath = "test2.sqlite"
conn = sqlite3.connect(filepath)
# filepathと同名のファイルがなければ，ファイルが作成されます

# テーブルを作成
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS items")

cur.execute("""CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    price INTEGER
)""")
conn.commit()
# item_idはテーブル定義でINTEGER PRIMARY KEYとして設定されており、これはSQLiteにおいて特別な意味を持ちます。
# INTEGER PRIMARY KEYフィールドは、自動的にautoincrement（自動増分）の整数値を持つ特別な列であり、新しいレコードが挿入されるたびに自動的に一意の値が割り当てられます。
# 新しいアイテムをitemsテーブルに挿入する際には、item_idを指定する必要はありません。
# データベースシステムが自動的に次の利用可能な整数値をitem_idとして割り当てます。


# 単発でデータを挿入
cur.execute('INSERT INTO items (name , price) VALUES (?,?)',
            ("Orange", 520))
conn.commit()

# 連続でデータを挿入
cur = conn.cursor()
data = [("Mango", 770), ("Kiwi", 400), ("Grape", 800),
        ("Peach", 940), ("Persimmon", 700), ("Banana", 400)]
cur.executemany(
    "INSERT INTO items (name, price) VALUES (?,?)", data)
conn.commit()

In [2]:
# 全データを抽出する（for文使用）
cur = conn.cursor()
cur.execute("SELECT item_id, name, price FROM items")
items_list = cur.fetchall()
for fr in items_list:
    print(fr)

(1, 'Orange', 520)
(2, 'Mango', 770)
(3, 'Kiwi', 400)
(4, 'Grape', 800)
(5, 'Peach', 940)
(6, 'Persimmon', 700)
(7, 'Banana', 400)

In [3]:
# 全データを抽出する（for文使用）
cur = conn.cursor()
cur.execute("SELECT item_id, name, price FROM items")
items_list = cur.fetchall()
for fr in items_list:
    print(fr)

(1, 'Orange', 520)
(2, 'Mango', 770)
(3, 'Kiwi', 400)
(4, 'Grape', 800)
(5, 'Peach', 940)
(6, 'Persimmon', 700)
(7, 'Banana', 400)

In [4]:
# 400-700円のデータを抽出して表示
cur = conn.cursor()
price_range = (400, 700)
cur.execute(
    "SELECT * FROM items WHERE price >=? AND PRICE <=?", price_range
)
fr_list = cur.fetchall()
for fr in fr_list:
    print(fr)

(1, 'Orange', 520)
(3, 'Kiwi', 400)
(6, 'Persimmon', 700)
(7, 'Banana', 400)